<!DOCTYPE html>
    <html>
        <head>
          <meta charset="utf-8" />
          <title>Error occured</title>
        </head>
    <body>
      <section id="not-found">
        <h1>{{code}} - {{title}}</h1>
      </section>
    </body>
</html>
