{% extends 'layout.twig' %}
{%block body%}
<section class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<h3>Sign-in</h3>
		<form action="/login" method="post" id="signup-form">
			<fieldset class="form-group">
				<label for="email">E-mail</label><br>
				<input type="text" name="email" id="email" class="form-control" placeholder="Your email"/>
			</fieldset>
			<fieldset class="form-group">
				<label for="pwd">Password</label><br>
				<input type="password" name="password" id="password" class="form-control" placeholder="Your password"/>
			</fieldset>
      {%if errorMsg%}
          <p style="color:red;">{{errorMsg}}</p>
      {%endif%}
			<input type="submit" id="submit-btn" class="col-lg-3 btn btn-success" value="Submit"/>
		</form>
	</div>
</section>
{%endblock%}
